*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #28282B;
    color: #B6B6B4;
    font-family: 'Open Sans', sans-serif;
}
/* utility style start */

ul{
    list-style: none;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* utility style end */
/* nav .navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    
}
.navbar .nav-logo{
    width: 20%;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar .nav-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
}
.nav-content li a{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
.nav-content li{
    padding: 0 30px;
}
.navbar .nav-button{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.navbar .nav-button button{
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
} */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
}


.logo{
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.navbar .nav-button .nav-btn {
    border-radius: 15px;
    border: none;
}
/* sub menu */
/* burger button design */
.burger { 
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        background-color: #5d4954;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }



    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active{
        transform: translateX(0%);
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

}
/* hero section style */
.hero {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content {
    width: 50%;
}
.hero-content h4 {
    font-size: 20px;
    color: #B6B6B4;
}
.hero-content h4 span {
    color: red;
}
.hero-content h1 {
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.hero-content h3{
    color: white;
}
.hero-content p {
    margin-top: 20px;
    color: #B6B6B4;
}
.hero-image{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.hero .hero-image img {
    width: 50%;
}

.hero-content .find-me {
    margin-top: 40px;
}
.hero-content .find-me h5{
    font-size: 15px;
    text-transform: uppercase;
}

.hero-content .find-me i {
    margin-top: 10px;
    font-size: 30px;
    padding-right: 10px;
    color: white;
}

.hero-bottom {
    display: flex;
    margin-top: 40px;
    gap: 40px;
    width: 100%;
    text-transform: uppercase;
}
.hero-bottom h4 {
    color: white;
    font-size: 25px;
}
.hero-bottom p {
    margin-top: 5px;
    font-size: 12px;
}

.section-break {
    margin-top: 50px;
    border: none;
    height: 2px;
    background-color: black;
}


/* Responsive Media Query */

@media only screen and (max-width: 600px) {
    

    .navbar .nav-content {
        display: none;
    }
    .hero {
        flex-direction: column;
        width: 100%;
    }
    .hero .hero-image img{
        width: 100%;
    } 
}

/* services section css */
#services{
    margin-top: 50px;
}

.services h1{
    font-size: 35px;
    color: white;
}
.services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 20px;
}

.services-item {
    width: 315px;
    padding: 40px;
    background-color: black;
}
.services-item i{
    font-size: 40px;
    margin-bottom: 20px;
    color: red;
}
.services-item h3{
    font-size: 23px;
    color: white;
}
.services-item p{
    margin-top: 10px;
    font-size: 16px;
}
.services-item:hover {
    padding: 40px;
    background-color: gray;
    cursor: pointer;
    color: white !important;
}

/* work section css */
#work {
    margin-top: 50px;
    text-align: center;
}
#work h1{
    font-size: 35px;
    color: white;
    margin-bottom: 25px;
}
#work h5{
    color: red;
}
.work-section {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.work-item img {
    width: 315px;
    height: 300px;
    cursor: pointer;
}
.work-item img:hover {
    filter: grayscale();
}
/* resume section css */
#resume {
    margin-top: 50px;
}

.resume {
    display: flex;
    gap: 60px;
}
.resume .job-item,
.resume .edu-item {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
    margin-bottom: 40px;
}
.job h3,
.education h3 {
    color: white;
}
.job h4,
.education h4 {
    color: white;
}
.resume .date {
    color: red ;
    margin-top: 5px;
}
.title {
    text-align: center;
    color: red;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 35px;
    color: white;
}
/* testimonils css */

#testimonials {
    margin-top: 50px;
}

.testimonials h1 {
    font-size: 35px;
    color: white;
}
.testimonials h5 {
    color: red;
}


.education h6,
.job h6{
    margin-bottom: 30px;
}


/* testimonials syle css */

.testimonials-content {
    display: flex;
    gap: 30px;
    margin-top: 30px;

}
.testimonils-item {
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}
.testimonils-item .rating {
    text-align: right;
}
.testimonils-item .rating i{
    font-size: 10px;
    color: orange;
}

.testimonials-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.testimonials-top .fa-message {
    font-size: 40px;
    color: red;
}
.testimonils-item p{
    text-align: justify;
}

.testimonials-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.testimonials-user img {
    width: 20%;
    margin-right: 15px;
}

.testimonials-user p {
    font-size: 12px;
}

/* clients css  */
.client-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.client-content div{
   width: 200px;
}
.client-content img{
    width: 100px;
}
#clients {
    margin-top: 50px;
}

/* contact css */
#contact {
    margin-top: 50px;
}

.contact-content {
    height: 600px;
    display: grid;
    text-align: center;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 120px);
    grid-gap: 20px;
    grid-template-areas: 
        "a m"
        "p m"
        "e m"
        "f m"
}

.address {
    grid-area: a;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}

.mobile {
    grid-area: p;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}

.email {
    grid-area: e;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}
.available {
    grid-area: f;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}
.message {
    grid-area: m;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}


.contact-content i {
    font-size: 30px;
    margin-bottom: 15px;
    color: red;
}
.contact-content p {
    color: white;
}

/* contact form */
.message  {
    padding: 40px;
    text-align: left;
}
.message input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
    border: none;
    
}
.message textarea {
    background-color: black;
    border: none;
    width: 100%;
    height: 150px;
}
.mess-btn{
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px 30px;
}

/* footer */
footer {
    margin-top: 50px;
    text-align: center;
}

.footer-link i {
    font-size: 35px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.footer-link i:hover {
    color: tomato;
    transform: translateY(-5px);
}
.footer-text {
    padding: 20px;
}
footer h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}
@media (max-width: 850px) {
    .navbar .nav-button{
        display: none;
    }
    .nav-content li{
        padding: 0 10px;
    }

    .nav-logo h2 {
        font-size: 15px;
    }
    .hero .hero-image img{
        width: 80%;
    }

    .resume {
        display: flex;
        gap: 60px;
        flex-direction: column;
    }
    .testimonials-content {
        flex-direction: column;
    }
    .contact-content {
        height: 600px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 120px);
        grid-gap: 20px;
        grid-template-areas: 
            "a"
            "p"
            "e"
            "f"
            "m"
    }
    #contact .section-break{
        margin-top: 400px;
    }
    
}